doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL/APP
          colspan.nav
              a(href='/aboutUs') About us   
          colspan.nav
              a(href='/contactUs') Contact us
 
  head
    title To retrieve the password
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/webPwd.js')
  body
  p(data-url=webObj.url) The website/app that you requested: #{webObj.url}
  table
    tbody
  p If you want to browse to new URL page to fill web credentials, please press new URL button to open new url page (not applicable for app).
  button#newWin
   | New Window: #{webObj.url}
  p If the above url is not totally correct, you can input its login url page here.-->
  label(for='loginLink') Enter login page URL to fill username and password:
  input#loginLink(name='link' type='url' placeholder='https://example.com/login')
  button#openBtn
   | New Window
  script(nonce=nonce).
    var newUrl='#{webObj.url}';
    if (!newUrl.startsWith('http')) {
       newUrl = 'https://' + newUrl; // Default to HTTPS if no protocol is present
    }
    document.getElementById('newWin').addEventListener('click', function() {
      window.open(newUrl);
    });
    document.getElementById('openBtn').addEventListener('click', function () {
      const linkInput = document.querySelector('input[name="link"]');
      let url = linkInput.value.trim();
      if (!url.startsWith('http')) {
        url = 'https://' + url;
      }
      window.open(url, '_blank');
    });
  br
  br
  footer
    p The entirety of this site is protected by copyright @2024 1FirstPass company limited
    address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
    p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy