doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL/APP
          colspan.nav
              a(href='/aboutUs') About us   
          colspan.nav
              a(href='/contactUs') Contact us
  head
    title
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/getToken.js')
  body
    script(nonce=nonce).
          var usrName = localStorage.getItem('usrName');
          console.log('usrName: ', usrName);
          document.addEventListener('DOMContentLoaded', function() {
              document.getElementById('uName').value= usrName;
          });
  | Password form generation
  p Web User name: #{unObj.webUn}
  p For Url: #{unObj.url}
  p#passwForm
  form(action='/genWebPw', id='formPassw', method='post') Please specify format of required password.
   br
   br
   li
     select(name='webUserName')
       option(selected='selected', value=`${unObj.webUn}`) #{unObj.webUn}
   li
     lable(for='self') Self provided password:
     input#self(type='text', name='self')
     br
     br
     button#self(type='submit') Submit
     br
     p For auto-creation of password, please fill in below.
     br       
   li
     label(for='length') Length of password:
     input#length(type='number', name='length')
     br
     br
   li
     |Lowercase requirement
     input#lowCase(checked='checked', type='radio', name='lowCase', value='yes')
     |Yes
     input(type='radio', name='lowCase', value='no')
     |No
     br
     br
   li
     |Uppercase requirement
     input#upCase(checked='checked', type='radio', name='upCase', value='yes')
     |Yes
     input(type='radio', name='upCase', value='no')
     |No
     br
     br
   li
     |Number character requirement
     input#numChar(checked='checked', type='radio', name='numChar', value='yes')
     |Yes
     input(type='radio', name='numChar', value='no')
     |No
     br
     br
   li
     |Special character requirement
     input#specChar(type='radio', name='specChar', value='yes')
     |Yes
     input(type='radio', name='specChar', value='no', checked='checked')
     |No
     br
     br
     button(type='submit') Submit
     br
     input(type='hidden', name='url', value=`${unObj.url}`)
     input#uName(type='hidden', name='usrName')
     input#authToken(type='hidden', name='token')
  br
  br
  footer
      p The entirety of this site is protected by copyright @2024 1FirstPass company limited
      address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
      p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy