//Called from logPasswHdlr.js
doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/aboutUs') About us   
          colspan.nav
              a(href='/contactUs') Contact us 
head
Title User to retry a login password
link(rel='stylesheet', href='/stylesheets/main.css')
body
  script(nonce=nonce).
        var sid=localStorage.getItem('sessionId');
        console.log('sid: ', sid);
        document.addEventListener('DOMContentLoaded', function() {
           document.getElementById('sid').value = sid;
        });
  .contentarea
  h1 User login password is to retry.
  h2 You have remaining #{usrObj.remAttempt} attempts to login.
  p#passw 
        form(action='/logPasswHdlr', id='passw', method='post') #{usrObj.username}, please input valid password
                br
                input#name(checked='checked', name='username', type='radio', value=`${usrObj.username}`)
                br
                br
                label(for='passw') Password: (8-16 characters) 
                br
                input#passw(type='password', name='password' required, minlength='8', maxlength='16', value='')
                br
                br
                button(type='submit') Submit
                input#sid(type='hidden', name='sessionId')
  br
  br
  footer
      p The entirety of this site is protected by copyright @2024 1FirstPass company limited
      address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
      p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy