doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL/APP
          colspan.nav
                a(href='/aboutUs') About us   
          colspan.nav
                a(href='/contactUs') Contact us 
  head
    title New password generated for usage
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/dataStorage.js' nonce=nonce)
	
  body
  p For Url: #{pwObj.url}
  p User Name: #{pwObj.webUn} 
  p Password: #{pwObj.webPw}
  p Please input your master password which would be used to encrypt your web credentials
  input#masPwd(type='password' autofocus, name='masterPwd' required, minlength='8', maxlength='16', value='')
  br  
  p After input the master password, please press STORE DATA button to store the encrypted web credentials to this browser storage database
  button#store
   |STORE DATA
  script(nonce=nonce).
    // Assuming pwObj is available in this script
    const pwObj = {
    pwd: '#{pwObj.webPw}',
    name: '#{pwObj.webUn}',
    url: '#{pwObj.url}'
    };
    //const js=JSON.stringify(pwObj);
    document.getElementById('store').addEventListener('click', async function() {
        // Collect the Master Password from the input field
        const masterPwdInput = document.getElementById('masPwd');
        const masterPassword = masterPwdInput.value;
        const message = document.getElementById("pwdVerify");
        try {
            verifyMasPwd(masterPassword, pwObj)
            /*if (verifyMasPwd(masterPassword)) {
                message.innerText = 'The input master password is correct.';
                try {
                    await storePassword(pwObj, masterPassword);
                    //Security: Clear the input field from the screen after processing
                    masterPwdInput.value = '';
                    alert("Credentials encrypted and stored successfully!");
                } catch (err) {
                    console.log("Storage failed:", err);
                }
            } else {
                message.innerText = 'The input master password not correct, please reinput';
            }*/
        } catch (err) {
            console.log('Verification of master passsword failed!', err);
            return;
        }
    });
  p#pwdVerify
  p#storeButt
  br
  p#mess
  br
  p#bkup
  br
  p#target If you want to browse to new URL page, please press new Window button to open new url page.
  button#newWin
   | #{pwObj.url}
  script(nonce=nonce).
    var newUrl='#{pwObj.url}';
    if (!newUrl.startsWith('http')) {
       newUrl = 'https://' + newUrl; // Default to HTTPS if no protocol is present
    }
    document.getElementById('newWin').addEventListener('click', function() {
      window.open(newUrl);
    });
  br
  br
  footer
      p The entirety of this site is protected by copyright @2024 1FirstPass company limited
      address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
      p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy