doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL/APP
          colspan.nav
                a(href='/aboutUs') About us   
          colspan.nav
                a(href='/contactUs') Contact us 
  head
    title New password generated for usage
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/dataStorage.js')
	
  body
  p For App: #{pwObj.appt}
  p User Name: #{pwObj.apptUn} 
  p Password: #{pwObj.apptPw}
    
  p Please press STORE DATA button to store the app and username/password to this browser storage database
  button#store
   |STORE DATA
  script(nonce=nonce).
    // Assuming pwObj is available in this script
    const pwObj = {
    pwd: '#{pwObj.apptPw}',
    name: '#{pwObj.apptUn}',
    url: '#{pwObj.appt}'
    };
    const js=JSON.stringify(pwObj);
    document.getElementById('store').addEventListener('click', function() {
    storePassword(js);
    });
  p#storeButt
  br
  p#mess
  br
  p#bkup
  br
  br
  br
  footer
      p The entirety of this site is protected by copyright @2024 1FirstPass company limited
      address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
      p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy