//Called from logPasswHdlr.js
doctype html
html
    nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
        p.nav.navbar-nav
            a(href='/')
                img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
            colspan.nav
                a(href='/') Home   
            colspan.nav
                a(href='/aboutUs') About us   
            colspan.nav
                a(href='/contactUs') Contact us
    head
        title Login complete
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src='/scripts/sessLocStore.js')
    body
        h1(data-uid=usrData.id) Your login has been completed and valid.
        ul Please continue to use following Browser/OS/CPU in order not to lose your websites records:
            li Browser: #{userAgent.Browser}
            li OS: #{userAgent.OS}
            li CPU: #{userAgent.CPU}
        p(data-uname=usrData.username) Do you want to log in to old website or sign up to new website: 
        div(data-auth=authTok)
        form(action='/webAccess', method='post', onsubmit="return validateUrl()") Please select: 
            br
            br
            input(checked='checked', name='oldNew', type='radio', value='new')
            | New website. 
            label(for='url') Please enter http(s)://URL or just URL (www.example.com)
            input#nurl(type='text', name='newUrl' placeholder="http(s)://www.example.com" pattern="^(https?:\/\/)?www\.[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" size="30")
            br
            br
            input#ourl(name='oldNew', type='radio', value='old')
            | Old website. 
            br
            br
            button(type='submit') Submit
            script.
                function validateUrl() {
                   const urlInput = document.getElementById('nurl').value.trim();
                   const oldNewSelection = document.querySelector('input[name="oldNew"]:checked').value;
                   // Skip validation if "Old website" is selected
                   if (oldNewSelection === "old") {
                      return true; // Allow form submission
                   }
                   // Validate the URL format
                   const pattern = /^(https?:\/\/)?www\.[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                   if (!pattern.test(urlInput)) {
                      alert("Invalid URL format! Please enter 'www.example.com' or 'http(s)://www.example.com'.");
                      return false; // Stop form submission
                   }
                   return true; // Allow form submission if validation passes
                   }
    br
    br
    footer
        p The entirety of this site is protected by copyright @2024 1FirstPass company limited
        address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
        p
        colspan 
            a(href='/tnc') Terms&Conditions  
        colspan 
            a(href='/privPo') Privacy Policy